.device {
    background-color: #070E16;

}

.device__list {
  display: flex;
  color: #ffffff;
}

.device__title {
  margin-bottom: 13px;
}

.device__description {
  margin-top: 20px;
  margin-bottom: 33px;
}

.device__price {
  margin-bottom: 36px;
}

