/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */

// Стили для файла с примером HTML-фрагмента
@import './example';
@import './promo';
@import './device';
@import './quote';
@import './slick';
@import './slick-theme';
@import './section-slider';
@import './modal';

:root {
  --button-color: #2468ff;
  --primary-color: #ffffff;
  --secondary-bgcolor: #161f49;
  --color-text-dark: #404040;

  --font-primary: 'Roboto', sans-serif;
}

body {
  font-family: var(--font-primary);
  font-size: 18px;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  margin: 0;
}

p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  width: 1440px;
  padding: 0 15px;
  margin: 0 auto;
}

.promo-bar {
  background-color: var(--secondary-bgcolor);
}

.promo-bar__text {
  color: var(--primary-color);
  font-size: 14px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.10998px;

  padding: 5px 0;
}

.logo {
  padding-left: 36px;
  padding-top: 16px;
  padding-bottom: 16px;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav__list {
  display: flex;
  align-items: center;

  margin-left: 195px;
}

.nav__list-item a {
  color: var(--color-text-dark);
}

.nav__list-item + .nav__list-item {
  margin-left: 37px;
}

.primary-button {
  margin-left: auto;
}

.container-flex {
  display: flex;
}

.primary-button {
  cursor: pointer;
  background: var(--button-color);
  font-family: var(--font-primary);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.79;
  text-transform: uppercase;
  color: #ffffff;
}

.header-button {
  padding: 27px 64px 28px 64px;
}

.hero__container {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  font-style: normal;
  font-weight: normal;
  color: #ffffff;
  background-image: url('../images/hero-bg.jpg');
  background-repeat: no-repeat;
  background-size: 100% 591px;
}
.hero__title {
  font-size: 72px;
  line-height: 1.11;
  padding: 120px 0 24px 0;
}
.hero__text {
  font-size: 21px;
  line-height: 1.38;
  padding-bottom: 16px;
}
.hero__button {
  font-size: 14px;
  line-height: 1;
  font-style: normal;
  font-weight: normal;
  color: #ffffff;
  background: transparent;
  padding: 16px 0 21px 0;
  min-width: 226px;
  border: 1px solid #ffffff;
}
.hero__img {
  margin: 0 auto;
  padding-top: 87px;
}
