<section class="device">
  <div class="container">
    <ul class="device__list">
      <li class="device__item">
        <h2 class="device__title">eero Pro 6</h2>
        <h3 class="device__subtitle">The fastest eero yet.</h3>
        <p class="device__description">
          Tri-band Wi-Fi 6 system designed for homes with gigabit internet connections.
        </p>
        <p class="device__price">Starting at $229</p>
        <button type="button">Shop now</button>
      </li>
      <li>
        <h2>eero 6</h2>
        <h3>The fastest eero yet.</h3>
        <p>Tri-band Wi-Fi 6 system designed for homes with gigabit internet connections.</p>
        <p>Starting at $129</p>
        <button type="button">Shop now</button>
      </li>
    </ul>
  </div>
</section>
