<section class="slider">
  <div class="container">
    <div class="slider__list">
      <div class="slider__frame slider__frame--slide-1">
        <h2 class="slider__title">Unlock your wifi’s potential.</h2>
        <p class="slider__text">
          Both eero 6 and eero Pro 6 feature a built-in Zigbee smart home hub, making it easy to
          connect compatible devices with Alexa. So you can control certain lights, locks, plugs,
          and more—without the need to buy separate smart home hubs for each.
        </p>
        <button class="primary-button slider__button" type="button">Learn More</button>
      </div>
      <div class="slider__frame slider__frame--slide-2">
        <h2 class="slider__title">Unlock your wifi’s potential.</h2>
        <p class="slider__text">
          Both eero 6 and eero Pro 6 feature a built-in Zigbee smart home hub, making it easy to
          connect compatible devices with Alexa. So you can control certain lights, locks, plugs,
          and more—without the need to buy separate smart home hubs for each.
        </p>
        <button class="primary-button slider__button" type="button">Learn More</button>
      </div>
      <div class="slider__frame slider__frame--slide-3">
        <h2 class="slider__title">Unlock your wifi’s potential.</h2>
        <p class="slider__text">
          Both eero 6 and eero Pro 6 feature a built-in Zigbee smart home hub, making it easy to
          connect compatible devices with Alexa. So you can control certain lights, locks, plugs,
          and more—without the need to buy separate smart home hubs for each.
        </p>
        <button class="primary-button slider__button" type="button">Learn More</button>
      </div>
    </div>
  </div>
</section>
